<div class="top">
  <a class="logo" style="text-decoration:none" href="#/home">FESchools<span class="com">.com</span></a>
  <img class="pull-right" src="image/it.gif" width="120" height="70">
</div>
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/home">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#/profile">PROFILE</a>
            </li>
            <li>
              <a href="#/html">HTML</a>
            </li>
            <li>
              <a href="#/css">CSS</a>
            </li>
             <li>
              <a href="#/script">JAVASCRIPT</a>
            </li>   
          </ul>
          <ul class="nav navbar-nav navbar-right">
      <li>
              <a href="#/login"  ng-model="myCheck">LOGIN</a>
            </li>

      <!--       <li>   
       <input  class="search" type="search" placeholder="Search" ng-model="query" >
            </li> -->
     </ul>
        </div>
      </div>
    </nav>