<script src="http://www.clocklink.com/embed.js"></script> 
<script type="text/javascript" language="JavaScript">obj=new Object;obj.clockfile="5027-red.swf";obj.TimeZone="VietNam_Hanoi"; obj.width=200;obj.height=90;obj.wmode="transparent";showClock(obj);</script>
<div ng-controller="HomeController" class="jumbotron row">
<div style="text-align:center">
<embed src="http://www.clocklink.com/clocks/5027-red.swf?TimeZone=VietNam_Hanoi" width="200" height="90" wmode="transparent" type="application/x-shockwave-flash" autoPlay="true" >
</div>
  <div class="col-md-4">
    <a href="#/html"  class="thumbnail">
     <p></p>
      <img src="image/html.png" alt="" style="width:150px;height:150px" ng-click="confirm()">
    </a>
  </div>
  <div class="col-md-4">
    <a href="#/css" class="thumbnail">
      <img src="image/css.jpg" alt="" style="width:150px;height:150px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="#/script"  class="thumbnail">
      <img src="image/js.png" alt="" style="width:150px;height:150px">
    </a>
  </div>
</div>
