<link rel="stylesheet" href="css/profile.css">
<div ng-controller="profileController" class="jumbotron ">
<aside class="profile-card">
  <header>
    <a href="#/login" data-toggle="tooltip" data-placement="top"  title="click me !">
      <img src="image/quoc.jpg">
    </a>
  </header>
  <ul class="profile-social-links">
    <li>
      <a href="https://www.facebook.com/" target="fb">
        <img src="image/fb.png">
      </a>
    </li>
    <li>
      <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1" target="g">
        <img src="image/g.jpeg">
      </a>
    </li>
  </ul>
</aside>
</div>