
<link rel="stylesheet" href="css/style1.css">
<div ng-controller="HomeController" class="jumbotron ">
</head>
<body id="top">
<div id="profile1" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="image/quoc.jpg" alt="" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Quoc Thuy</h1>
			<h2 class="quickFade delayThree"></h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1" target="_blank">thuyvietquoc@gmail.com</a></li>
				<li>facebook: <a href="https://www.facebook.com/">https://www.facebook.com/</a></li>
				<li>numberphone: 01659890153</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>AboutMe</h1>
				</div>
				
				<div class="sectionContent">
					<p>My name’s Thuy Viet Quoc. I’m 22 years old and I’m single. I will graduate from university in 2017 with the major in IT. I got 1 months experience as an internship at asiantech company. I like reading books and travel.  I’m a careful and hard-working person. I’m eager to learn new things and willing to work in team. I easily adapt to with new working environment and take initiative in work.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Learn Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">October 2012 - Present</p>
					<p>i'm student of da nang university </p>
				</article>
				
				<article>
					<p class="subDetails">Janruary 2009 - March 2012</p>
					<p>i'm student </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1> Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>JAVA</li>
					<li>C/C++</li>
					<li>Android</li>
					<li>HTML5/CSS3/ANGULARJS</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>

